* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item1-formulario {
    background-color: #6a7579;
    display: flex;
    padding: 2%;
    font-size: 1vw;
    font-weight: 500;
}

ul {
    display: flex;
    gap: 200px;
    list-style: none;
    margin-left: 8vw;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    background-image: url("../imagens/fundo-azul.jpg");
}

section {
    height: 90vh;
}

#sobre {
    padding: 1%;
}

.NomeTexto {
    padding: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foto img {
    border-radius: 6%;
    height: 20vh;
}

p {
    font-size: 2.5vw;
    font-weight: 700;
}

h1 {
   font-size: 2vw 
}

.conteiner-nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.linha {
    width: 38vw;
    height: 1vh;
}

#skills {
    padding: 5vh;
    font-size: 2vw;
    font-weight: 600;
}

h2 {
    text-align: center;
    margin-top: 10vh;
    margin: 10vh;
    font-size: 2.5vw;
}

hr {
    height: 1vh;
    background-color: #6a7579;
}

.projeto {
    display: flex;
    justify-content: center;
    gap: 35vw;
}

#projeto1 {
    font-size: 1.6vw;
    margin-left: 0.1vw;
}

#projeto2 {
    font-size: 1.6vw;
    margin-left: 2.5vw;
}

#projetos {
    height: 50vh;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    height: 70vh;
}